@media (max-width: 787px) {
	/* Logo
	========================================================= */
	.navbar-logo {
	  position: absolute;
	  left: 18%;
	  top: 0;
	  transform: translateX(-50%);
	}
	.navbar-logo img{
		width: 100px;
	}
	.logo__txt{
		display: none;
	}
	/* Menu
	========================================================= */
	.menu-main{
		margin-top: 70px;
		text-align: center;
		display: none;
		z-index: 9999;
		background-color: #80A7BF;
		width: 200px;
		position: absolute;
		right: 0;
	}
	.menu-main>li {
		background-color: #80A7BF;

	}
	.menu-main a {
	  font-size: 15px;
		text-align: center;
	}
	.ham{
		display: block;
	}
	.arrow{
	  position: absolute;
	  left: 85%;
	  top: 33px;
	  width: 0;
	  height: 0;
	  border-top: 5px solid #475a68;
	  border-right: 5px solid transparent;
	  border-left: 5px solid transparent;
		transition: .5s linear;
	}
	.active-sub{
		position: absolute;
		top: 45%;
		left: -55%;
		z-index: 999;
		min-width: 120px;
		text-align: center;
		box-shadow: 10px 6px 15px 0px rgba(10, 10, 10, 0.5);
	}
	.active-sub li{
		padding: 10px 0;
		background-color: #80A7BF;
	}
	.menu-main>li:hover .sub-menu__list>li{
		display: none;
	}
	/* MainPage & Slider
	========================================================= */
	.sliderBlock{
		height: 250px;
	}
	.owl-carousel img{
		height: 250px;
	}
	.owl-prev, .owl-next{
		display: none;
	}
	/* Cadebo
	========================================================= */
	.titleCadebo::before{
		content: '';
		position: absolute;
		top: 70px;
		right: 0;
		left: 0;
	}
	.titleCadebo{
		text-align: center;
		font-size: 18px;
		font-family: 'Raleway', sans-serif;
		color: #475a68;
		position: relative;
		margin: 0 0 20px 0;
		padding: 20px 0 0 0;
	}
	.txt{
		font-size: 17px;
    text-align: center;
	}

  /* Gallery Main
  ========================================================= */
  .gallery{
  	display: grid;
  	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  	grid-gap: 5px;
  	padding: 50px 50px;
  	grid-auto-rows: 100px;
  	grid-auto-flow: dense;
  	justify-content: center;
  	background: #fff;
  }
  .gallery img{
  	width: 100%;
  	height: 100%;
  	display: block;
  	object-fit: cover;
  	object-position: center;
  }

  /* Tutorial Dog Card
  ========================================================= */
  .tutorialDog{
  	background: #fff;
  	display: flex;
  	justify-content: center;
  }
  .tutorialDog__card{
  	display: flex;
  	justify-content: center;
  	margin: 20px 30px;
  }
  .card__link{
  	text-decoration: none;
  }
  .card__img{
  	background-image: url("../img/zlo.jpg");
  	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat;
  	width: 200px;
  	height: 200px;
  	border-radius: 50%;
  	transition: .5s linear;
  }
  .card__img:hover{
  	border: 10px solid #475a68;
  	overflow: hidden;
  }
  .title__card{
  	color: #475a68;
  	text-align: center;
  	margin: 10px auto;
  	font-size: 15px;
  	letter-spacing: .7px;
  }
	/* FeedBack Mobile
	========================================================= */

	.feedBack__block{
		display: grid;
		justify-content: center;
		background: #fff;
	}
	.feedBack__title{
		padding: 20px 0;
		color: #475a68;
		position: relative;
		font-size: 25px;
		font-family: 'Raleway', sans-serif;
		text-align: center;
	}
	.feedBack__title:before{
		content: '';
		border-top: 2px solid #A69068;
		border-radius: 40%;
		position: absolute;
		top: 60px;
		right: 0;
		left: 0;
		width: 40%;
		margin: 0 auto;
	}
	#form_message{
		margin: 10px 0 0 0;
		font-family: 'Raleway', sans-serif;
		color: #475a68;
		text-align: center;
	}
	.titles{
		padding: 15px 0 10px 0;
		font-weight: bold;
		letter-spacing: 1px;
		margin: 0 auto;
	}
	.input{
		font-family: 'Raleway', sans-serif;
		font-size: 15px;
		width: 300px;
		outline: none;
		padding: 10px;
	}
	.txtar{
		width: 300px;
		height: 150px;
		resize: none;
		font-family: 'Raleway', sans-serif;
		font-size: 15px;
		padding: 10px;
		outline: none;s
	}
	.btn-par{
		text-align: center;
	}
	#submit{
		background: none;
		padding: 10px 60px;
		margin: 20px 0;
		outline: none;
		border: 1px solid #000;
		cursor: pointer;
		font-family: 'Raleway', sans-serif;
		font-size: 18px;
		transition: .5s;
	}
  /* back-top */

  #back-top{
    display: none;
    opacity: 0;
    z-index: -1;
  }


	/*  Our Dogs & Filter Mobile Page
	========================================================= */

	.mainDogsCard__inner{
		background-color: #fff;
	}
	.filterList{
		display: flex;
		justify-content: center;
	}
	.buttons{
		margin-top: 40px;
		border-radius: 20px;
	}
	.filterList li:first-child{
		margin-left: 0;
	}
	.active__filter{
		background-color: #80A7BF;
		color: #fff;
	}
	.content{
		padding: 20px 0;
	}
	.cardCabel__inner, .cardSuki__inner, .cardPuppies__inner{
		display: grid;
		grid-template-columns: auto;
		margin: 0 auto;
		border: 10px inset #A69068;
	}
	.imgCab, .imgSuk, .imgPup{
		width: 330px;
		height: 300px;
	}
	.imgCab__inner, .imgSuk__inner, .imgPup__inner{
		width: 100%;
		height: 300px;
	}
	.infoCab, .infoSuk{
		max-width: 100%;
		height: 390px;
	}
	.titleCardDog{
		font-family: 'Raleway', sans-serif;
		color: #475a68;
		letter-spacing: 1px;
	}
	.tituls{
		background-color: #fff;
    text-align: justify;
  	margin-left: 0;
    padding-left: 20px;
	}
	.tituls__inner{
		padding: 20px 0 0 0;
		font-family: 'Raleway', sans-serif;
		color: #475a68;
		font-size: 15px;
    text-align: center;
	}

  /* Gallery Page
  ========================================================= */
  .gallery-bg{
  		background-color: #fff;
  }
  .gallery__inner{
  	display: grid;
  	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  	grid-auto-rows: 100px;
  	grid-auto-flow: dense;
  	justify-content: center;
  	grid-gap: 5px;
  }
  .gallery__inner img{
  	width: 100%;
  	height: 100%;
  	display: block;
  	object-fit: cover;
  	object-position: center;
  	transition: all .5s;
  	cursor: pointer;
  }
  .horizontal {
  	grid-column: span 2;
  	grid-row: span 2;
  }

  .vertical {
  	grid-row: span 2;
  }

  .big {
  	grid-column: span 3;
  	grid-row: span 2;
  }
  .threeImg{
  	object-position: right !important;
  }

  /* About Us Page
  ========================================================= */
  .aboutUsImg{
  	width: 100%;
  	height: 300px;
  }
  .aboutUsImg img{
  	width: 100%;
  	height: 300px;
  	object-fit: cover;
  }
  .fcirkfLogo{
  	display: grid;
  	grid-template-columns: auto;
  	padding: 20px 0;
  }
  .fciLogo, .rkfLogo{
  	text-align: center;
  }
  .fciLogo img, .rkfLogo img{
  	width: 150px;
  }
  /* About Breed Images(О породе фотки и текст)
  ========================================================= */
  .filterBreed{
  	width: 100%;
  	height: 300px;
  	background-color: #80A7BF;
  }
  .filterTitle{
  	color: #475a68;
  	text-align: center;
  	padding-top: 50px;
  	letter-spacing: 1px;
  }
  .filterBreedInner{
  	display: grid;
  	grid-template-columns: auto auto auto;
  	text-align: center;
  	width: 100%;
  	margin: 50px auto;
  }
  .filterBreedBlocks p{
  	margin-bottom: 20px;
    padding: 0 10px;
  	color: #fff;
  }
  .filterBreedBlocks p a{
  	font-size: 15px;
  	color: #475a68;
  }
  .filterBreedBlocks p:last-child{
  	margin-bottom: 0;
  }
  .presentImg{
  	max-width: 100%;
  	height: 200px;
  }
  .presentImg img{
  	object-fit: cover;
  	object-position: center;
    max-width: 100%;
    height: 200px;
  }
  .allBox{
  	background-color: #fff;
  	font-family: 'Raleway', sans-serif;
  	color: #475a68;
  }
  .wikiTitle{
  	padding: 20px 50px;
  	font-size: 20px;
  	text-align: center;
  	position: relative;
  }
  .wikiTitle::before{
  	content: '';
  	border-top: 2px solid #A69068;
  	border-radius: 40%;
  	position: absolute;
  	top: 40px;
  	right: 0;
  	left: 0;
  	width: 20%;
  	margin: 10px auto 0 auto;
  }
  .subTxt{
  	text-align: center;
  	letter-spacing: 1px;
  	padding: 10px 50px 20px 50px;
  	font-size: 17px;
  }
  .subTxt__inner{
  	text-align: center;
  	letter-spacing: 1px;
  	padding: 10px 50px 20px 0;
  	font-size: 20px;
  }
  .subTitle{
  	letter-spacing: 1px;
    padding: 20px;
  	font-size: 17px;
  	font-weight: 600;
    text-align: center;
  }
  .wikiList li h4{
  	font-size: 20px;
  }
  .wikiList .wikiList__inner{
  	list-style: initial;
  }
  .wikiList__inner li{
  	font-style: italic;
  	margin: 0 auto;
    font-size: 16px;
    width: 300px;
  }
  /* Contacts
  ========================================================= */
  .mainContacts__inner{
  	background-color: #fff;
  	display: flex;
    flex-wrap: wrap;
  }
  .blockImg{
    width: 100%;
    height: 300px;
  }
  .contactImg{
  	width: 350px;
  	height: 300px;
  	object-fit: cover;
    padding: 0;
  }
  .contactTitle{
  	text-align: center;
  	font-family: 'Raleway', sans-serif;
    font-size: 20px;
  	color: #475a68;
  	background: #80A7BF;
  	padding: 20px;
  }
  .contactsList{
  	width: 350px;
  	height: 470px;
  }
  .contactsList__inner{
  	padding: 0 20px;
  	margin: 30px 0 0 0;
  }
  .contactsList__inner li{
  	font-family: 'Raleway', sans-serif;
  	color: #475a68;
  	font-size: 17px;
  	padding-top: 20px;
  }
  .contactsList__inner li:first-child{
  	padding: 0;
  }
  .fa-phone-alt, .fa-envelope, .fa-map-marker-alt{
  	padding-right: 10px;
  }
  .map{
  	max-width: 100%;
  	margin-top: 20px;
  }
  .googleMap{
  	width: 350px;
  	height: 201px;
  }
	/* Footer
	========================================================= */
	.footer{
		background-color: #2E4159;
	}
	.footer__inner{
		display: grid;
		grid-template-columns: auto;
		justify-content: center;
		align-items: center;
	}
	.copy{
		color: #fff;
		margin: 20px auto 0 auto;
		font-family: 'Raleway', sans-serif;
		font-size: 13px;
		text-align: justify;
		padding: 0 30px;
		line-height: 20px;
	}
}
